<html>
<head>
    <title>Title</title>
    <script type="text/javascript">
        $('#aa').click(function () {
            alert(111111);
            $.ajax({
                url: "/get",
                contentType: "application/json",
                type: "GET",
                data: JSON.stringify(params),
                dataType: "json",
                success: function (res) {
                    alert(res);
                    debugger;
                    console.log(res);
                },
                error: function (res) {
                    alert('error!');
                }
            })
        });
    </script>
</head>
<body>

<button id="aa">aaaaaa</button>
</body>
</html>